# Created by https://www.gitignore.io/api/altium
# Edit at https://www.gitignore.io/?templates=altium

### Altium ###
# Previews Folders
**/__Previews/

# History Folders
**/History/*

# Project Logs
Project\ Logs*/

# Auto-conversion notices
*.PcbDoc.htm

# Access lock file for dbLib sources
**/*.ldb


# End of https://www.gitignore.io/api/altium
